<!DOCTYPE html>
<html lang="">
  <head>
    <title>Registartion</title>
    <link rel="stylesheet" type="text/css" href="/Addon/css/registrationForm.css">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
  </head>
  <body id="root">
    <div class="main-form">

          <div class="label">
            <h1>Actions Of Emplyees</h1>
              <text>registration</text>
          </div>
          
          <form class="box">

              <div class="inputs">
                <i class="fas fa-user"></i>
                <input id="email" type="email" name="" placeholder="email">
              </div>

              <div class="inputs">
                <i class="fas fa-lock"></i>
                <input id="password" type="password" name="" placeholder="Password">
              </div>

              <div class="inputs">
                <i class="fas fa-lock"></i>
                <input id="confirm-password" type="password" name="" placeholder="confirm-Password">
              </div>

              <button class="reg-button" type="submit">submit</button>

          </form>
        </div>
    <script src="/Addon/js/registartion.js" type="module"></script>
  </body>
</html>
